* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
  font-family: "THICCCBOI-SemiBold";
}
:root {
}

html,
body {
  overflow-x: none;
}
a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}

@font-face {
  font-family: "THICCCBOI-LIGHT";
  src: url("../fonts/THICCCBOI-Light.ttf");
}
@font-face {
  font-family: "THICCCBOI-Regular";
  src: url("../fonts/THICCCBOI-Regular.ttf");
}
@font-face {
  font-family: "THICCCBOI-SemiBold";
  src: url("../fonts/THICCCBOI-SemiBold.ttf");
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-white {
  color: white !important;
}
.text-center {
  text-align: center !important;
}
h3 {
  font-size: 1.75rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.mt-5 {
  margin-top: 3rem !important;
}
.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-12,
.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.h-100 {
  height: 100% !important;
}
.w-100 {
  width: 100% !important;
}
.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.cover {
  background-color: black;
  border-radius: 30px;
  width: 100%;
  max-width: 1290px;
  margin: 30px auto;
  min-height: 400px;
}
.cover {
  padding: 10%;
}

.cover .step .image_cover {
  max-width: 100%;
}

.cover .step p {
  font-family: "THICCCBOI-Regular";
}

.cover .image_outer {
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
}

.cover .image_outer img {
  height: 100%;
  object-fit: cover;
}

.cover .step_numb {
  background-color: #ff7f69;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.cover .image_cover {
  position: relative;
}

.step .buttons a {
  color: white;
  border-radius: 12px;
  background-color: #ff7f69;
  display: inline-flex;
}
.step .buttons span {
  display: inline-block;
  line-height: 1.6;
}

.btn {
  border: none;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  padding: 3px 50px 3px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: auto;
}
.btn span {
  padding: 5px 10px 5px 0;
  margin: 5px;
  display: block;
  border-right: 1px solid white;
}

/* Pseudo elements for icons */
.btn:before {
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* Button 1 */
.btn-1 {
  background: #ff7f69;
  color: #fff;
}
/* Button 1 */
.btn-1:hover {
  background: #ff7f69;
  color: #fff;
}
.btn-2 {
  background: #b364cb;
  color: #fff;
}
.btn-2:hover {
  background: #b364cb;
  color: #fff;
}

.btn-1:before,
.btn-2:before {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
  transform: translate(0, -16%);
}

.icon-cart:before {
  content: "\f07a";
}

.icon-star:before {
  content: "\f005";
}

/* bootstrap breakpoints media queries */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  .cover {
    padding: 5% !important;
  }
  .cover .step .image_cover {
    max-width: 85%;
    width: 100%;
    position: relative;
    max-height: 100%;
  }
  .cover .step_numb {
    top: 50%;
    font-size: 22px;
  }
  .cover .step:nth-child(odd) .step_numb {
    transform: translate(50%, -50%);
    right: 0%;
    left: auto;
  }
  .cover .step:nth-child(even) .step_numb {
    left: 0%;
    right: auto;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
